<main id="js-page-content" role="main" class="page-content">
    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-truck'></i> Truck <span class='fw-300'>Management</span>
            <small>
            </small>
        </h1>

        <div class="d-flex mr-0">
            <div>
                <a href="#addClient" data-toggle="modal">
                    <button class="btn btn-primary mt-3 float-right waves-effect waves-themed">Add Truck</button>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-7">
            <div id="c_1" class="card border shadow-0 mb-g shadow-sm-hover" data-filter-tags="oliver kopyov">
                <div class="card-body border-faded border-top-0 border-left-0 border-right-0 rounded-top">
                    <div class="col d-flex">
                        <h2>
                            Truck <span class="fw-300"><b>Details</b></span>
                        </h2>
                        <a class="ml-auto mr-2 flex-shrink-0 "></a>
                        <a href="#editTruck" data-toggle="modal"
                            class="btn btn-outline-danger btn-sm flex-shrink-0 waves-effect waves-themed">Edit</a>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="table-responsive-lg">
                        <table class="table table-bordered table-hover table-striped w-100" style="font-size: 120%;"
                            id="dt-basic-example">
                            <tbody style="margin-top: 20%;">
                                <tr class="spaceUnder">
                                    <th>Truck Name</th>
                                    <td>{{truck.truck_name}}</td>
                                </tr>
                                <tr class="spaceUnder">
                                    <th>Licence Plate</th>
                                    <td>{{truck.truck_plate}}</td>
                                </tr>
                                <tr>
                                    <th>Truck Year</th>
                                    <td>{{truck.truck_year}}</td>
                                </tr>
                                <tr>
                                    <th>Truck Model</th>
                                    <td>{{truck.truck_model}}</td>
                                </tr>
                                <tr>
                                    <th>Truck Type</th>
                                    <td>{{truck.truck_type | transform }}</td>
                                </tr>
                                <tr>
                                    <th>Max Load</th>
                                    <td>{{truck.truck_capacity}}</td>
                                </tr>
                                <tr>
                                    <th>Truck Size</th>
                                    <td>{{truck.truck_size}}</td>
                                </tr>
                                <tr>
                                    <th>Engine Type</th>
                                    <td>{{truck.truck_engine}}</td>
                                </tr>
                                <tr>
                                    <th>Truck Color</th>
                                    <td>{{truck.truck_color}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5">
            <div id="c_1" class="card border shadow-0 mb-g shadow-sm-hover" data-filter-tags="oliver kopyov">
                <div class="card-body border-faded border-top-0 border-left-0 border-right-0 rounded-top">
                    <div>


                        <div class="col d-flex">
                            <h1>
                                Upcoming <span class="fw-300"></span>Trip

                            </h1>
                            &nbsp; &nbsp; &nbsp;
                            <span style="font-size: 1em; color: green;">
                                <i class="fas fa-circle"></i>
                            </span>
                            <span
                                style="font-size: 15px; font-weight: bold; color: green; text-align: right;">LIVE</span>

                            <a class="ml-auto mr-2 flex-shrink-0 "></a>
                            <button type="button" class="btn btn-sm btn-outline-info waves-effect waves-themed">Map
                                <span class="badge bg-info-700 ml-2">
                                    <i class="fas fa-map-marker-alt"></i>
                                </span>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="card-body ">
                    <div class="p-2">
                        <div class="row">
                            <div class="col-xl-6">
                                <p>STATUS</p>

                            </div>
                            <div class="col-xl-6">
                                <p>DRIVER</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6">
                                <span class="badge badge-success badge-pill">On Route</span>
                            </div>
                            <div class="col-xl-6">
                                <p>Flen Ben Foulen</p>
                            </div>
                        </div>

                    </div>
                    <div class="p-2">
                        <div class="row">
                            <div class="col-xl-6">
                                <p>Distance</p>
                            </div>
                            <div class="col-xl-6">
                                <p>Arrival Time</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6">
                                <span class="badge badge-success badge-pill">On Route</span>
                            </div>
                            <div class="col-xl-6">
                                <p>Flen Ben Foulen</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="map"></div>
                <div class="d-flex flex-column align-items-center justify-content-center p-4">
                    <a href="#planTrip" data-toggle="modal">
                        <button type="button" class="btn btn-lg btn-info waves-effect waves-themed"
                            (click)="planTrip()">
                            <span class="fas fa-map-marker-alt mr-1"></span>
                            Plan a trip
                        </button>
                    </a>
                </div>
            </div>

        </div>

        <div>

        </div>
    </div>

    <div id="planTrip" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form [formGroup]="tripForm">
                    <div class="dropdown-header bg-trans-gradient d-flex justify-content-center align-items-center w-100">
                        <h4 class="m-0 text-center color-white">
                            Plan a trip
                            <small class="mb-0 opacity-80">Trip planning Settings</small>
                        </h4>
                        <button type="button" class="close text-white position-absolute pos-top pos-right p-2 m-1 mr-2" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fal fa-times"></i></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label><b>From</b></label>
                                    <input type="text" class="form-control" formControlName="from"
                                        id="from" required>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label><b>To</b></label>
                                    <input type="text" class="form-control" formControlName="to"
                                        id="to" required>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label><b>Trip Date</b></label>
                                    <input type="date" class="form-control" formControlName="date"
                                        id="date" required>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label><b>Driver</b></label>
                                    <input type="text" class="form-control" formControlName="driver"
                                        id="driver" required>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label><b>Distance :</b></label><b> &nbsp; &nbsp;{{distance}}</b> 
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label><b>Trip Duration :</b></label><b> &nbsp; &nbsp;{{tripDuration}}</b>
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div *ngIf="hide=='show'" id="loading1" class="d-flex flex-column align-items-center justify-content-center p-4"
                            style="background-color:rgb(245, 243, 243);box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                            <img id="loading" src="assets/img/loader.png" width="100px" height="100px">
                            <br />
                            <h1>Building the most optimal</h1>
                            <h1>route ...</h1>
                        </div>
                        <div class="row">
                            <div id="map-trip"></div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="editTruck" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form [formGroup]="editForm">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Truck</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label><b>Truck Name</b></label>
                                    <input type="text" class="form-control" formControlName="name" id="name" required>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label><b>Licence Plate</b></label>
                                    <input type="text" class="form-control" formControlName="licence" id="licence"
                                        required>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">

                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label><b>Truck Year</b></label>
                                    <input type="date" class="form-control" formControlName="year" id="year" required>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label><b>Truck Model</b></label>
                                    <input type="date" class="form-control" formControlName="model" id="model" required>
                                </div>
                            </div>
                        </div>


                        <br />

                        <br /><br />


                    </div>

                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>