
<div id="map">
</div>
<div class="overlay row">
    <div class="p-3 col-lg-4">
        <a href="tel:+13174562564" class="mt-1 d-block fs-sm fw-400 text-dark app-list-map text-white ">
            <span style="font-size: 18px; text-align: center; margin-left: 50px; color:black;"><b>Distance Left</b> </span>        
            <div class="icon-stack">
                <i class="base base-7 icon-stack-3x opacity-100 color-info-300 "></i>
                <i class="base base-7 icon-stack-2x opacity-100 color-info-300 "></i>
                <i class="fal fa-truck icon-stack-1x text-white"></i>
            </div>           
           &nbsp;&nbsp;&nbsp; <span style="font-size:20px ; color : black;">31 km</span>   
                     
        </a>   
           
    </div>
    <div class = "vertical"></div>
    <div class="p-3 col-lg-4">
        <a href="tel:+13174562564" class="mt-1 d-block fs-sm fw-400 text-dark app-list-map text-white ">
            <span style="font-size: 18px; text-align: center; margin-left: 45px; color:black;"><b>Average Speed</b> </span>        
            <div class="icon-stack">
                <i class="base base-7 icon-stack-3x opacity-100 color-info-300 "></i>
                <i class="base base-7 icon-stack-2x opacity-100 color-info-300 "></i>
                <i class="fal fa-car icon-stack-1x text-white"></i>
            </div>  
           &nbsp;&nbsp;&nbsp; <span style="font-size:20px ; color : black;">35 mph</span>             
        </a>      
    </div> 
    <div class = "vertical"></div>

    <div class="p-3 col-lg-3.5">
        <a href="tel:+13174562564" class="mt-1 d-block fs-sm fw-400 text-dark app-list-map text-white ">        
            <span style="font-size: 18px; text-align: center; margin-left: 30px; color:black;"><b>Time Left</b> </span>        
<br />
            <div class="icon-stack">
                <i class="base base-7 icon-stack-3x opacity-100 color-info-300 "></i>
                <i class="base base-7 icon-stack-2x opacity-100 color-info-300 "></i>
                <i class="fal fa-clock icon-stack-1x text-white"></i>
            </div>           
           &nbsp;&nbsp;&nbsp; <span style="font-size:20px ; color : black;">28 min</span>             
        </a>      
    </div>
 </div>
 <main id="js-page-content" role="main" class="page-content">
    <ul class="nav nav-tabs nav-tabs-clean px-3 px-sm-5" role="tablist">
        <li class="nav-item">
            <a class="nav-link active bg-transparent fs-lg fw-400" data-toggle="tab" href="#tab-all" role="tab">Load Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-transparent fs-lg fw-400" data-toggle="tab" href="#tab-images" role="tab">Truck Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-transparent fs-lg fw-400" data-toggle="tab" href="#tab-images" role="tab">Driver Info</a>
        </li>
    </ul>
    <div class="d-flex px-3 px-sm-5 py-4">
       
       
    </div>
    <div class="px-3 px-sm-5 pb-4">
        <div class="tab-content">
            <div class="tab-pane show active" id="tab-all" role="tabpanel" aria-labelledby="tab-all">
                
                <div class="panel-container ">
                    <div class="panel-content">    
                        <div class="accordion accordion-hover" >
                            <div class="panel-container show">
                                <div class="panel-content">
                                    <div class="accordion accordion-hover" id="js_demo_accordion-5">
                                        <div class="card">
                                            <div class="card-header">
                                                <a href="javascript:void(0);" class="card-title" data-toggle="collapse" data-target="#js_demo_accordion-5a" aria-expanded="true">
                                                    <i class="fas fa-box-check width-2 fs-xl"></i>
                                                    1. LS4801
                                                    <span class="ml-auto">
                                                        <span class="collapsed-reveal">
                                                            <i class="fal fa-chevron-up fs-xl"></i>
                                                        </span>
                                                        <span class="collapsed-hidden">
                                                            <i class="fal fa-chevron-down fs-xl"></i>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div id="js_demo_accordion-5a" class="collapse show" data-parent="#js_demo_accordion-5">
                                                <div class="card-body">
                                                    <table class="table">
                                                        <tr>
                                                            <td><b>Customer</b></td>
                                                            <td><b>Product</b></td>
                                                            <td><b>Weight</b></td>
                                                            <td><b>Quantity</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td>El mazraa</td>
                                                            <td>Eggs</td>
                                                            <td>200kg</td>
                                                            <td>80</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-5b" aria-expanded="false">
                                                    <i class="fas fa-box-check width-2 fs-xl"></i>
                                                    2. LS4801
                                                    <span class="ml-auto">
                                                        <span class="collapsed-reveal">
                                                            <i class="fal fa-chevron-up fs-xl"></i>
                                                        </span>
                                                        <span class="collapsed-hidden">
                                                            <i class="fal fa-chevron-down fs-xl"></i>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div id="js_demo_accordion-5b" class="collapse" data-parent="#js_demo_accordion-5">
                                                <div class="card-body">
                                                    <table class="table">
                                                        <tr>
                                                            <td><b>Customer</b></td>
                                                            <td><b>Product</b></td>
                                                            <td><b>Weight</b></td>
                                                            <td><b>Quantity</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td>El mazraa</td>
                                                            <td>Eggs</td>
                                                            <td>200kg</td>
                                                            <td>80</td>
                                                        </tr>
                                                    </table>                                              </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-5c" aria-expanded="false">
                                                    <i class="fas fa-box-check width-2 fs-xl"></i>
                                                    3. LS4801
                                                    <span class="ml-auto">
                                                        <span class="collapsed-reveal">
                                                            <i class="fal fa-chevron-up fs-xl"></i>
                                                        </span>
                                                        <span class="collapsed-hidden">
                                                            <i class="fal fa-chevron-down fs-xl"></i>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div id="js_demo_accordion-5c" class="collapse" data-parent="#js_demo_accordion-5">
                                                <div class="card-body">
                                                    <table class="table">
                                                        <tr>
                                                            <td><b>Customer</b></td>
                                                            <td><b>Product</b></td>
                                                            <td><b>Weight</b></td>
                                                            <td><b>Quantity</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td>El mazraa</td>
                                                            <td>Eggs</td>
                                                            <td>200kg</td>
                                                            <td>80</td>
                                                        </tr>
                                                    </table>                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-5c" aria-expanded="false">
                                                    <i class="fas fa-box-check width-2 fs-xl"></i>
                                                    3. LS4801
                                                    <span class="ml-auto">
                                                        <span class="collapsed-reveal">
                                                            <i class="fal fa-chevron-up fs-xl"></i>
                                                        </span>
                                                        <span class="collapsed-hidden">
                                                            <i class="fal fa-chevron-down fs-xl"></i>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div id="js_demo_accordion-5c" class="collapse" data-parent="#js_demo_accordion-5">
                                                <div class="card-body">
                                                    <table class="table">
                                                        <tr>
                                                            <td><b>Customer</b></td>
                                                            <td><b>Product</b></td>
                                                            <td><b>Weight</b></td>
                                                            <td><b>Quantity</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td>El mazraa</td>
                                                            <td>Eggs</td>
                                                            <td>200kg</td>
                                                            <td>80</td>
                                                        </tr>
                                                    </table>                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-5c" aria-expanded="false">
                                                    <i class="fas fa-box-check width-2 fs-xl"></i>
                                                 4. LS4801
                                                    <span class="ml-auto">
                                                        <span class="collapsed-reveal">
                                                            <i class="fal fa-chevron-up fs-xl"></i>
                                                        </span>
                                                        <span class="collapsed-hidden">
                                                            <i class="fal fa-chevron-down fs-xl"></i>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div id="js_demo_accordion-5c" class="collapse" data-parent="#js_demo_accordion-5">
                                                <div class="card-body">
                                                    <table class="table">
                                                        <tr>
                                                            <td><b>Customer</b></td>
                                                            <td><b>Product</b></td>
                                                            <td><b>Weight</b></td>
                                                            <td><b>Quantity</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td>El mazraa</td>
                                                            <td>Eggs</td>
                                                            <td>200kg</td>
                                                            <td>80</td>
                                                        </tr>
                                                    </table>                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-5c" aria-expanded="false">
                                                    <i class="fas fa-box-check width-2 fs-xl"></i>
                                                    5. LS4801
                                                    <span class="ml-auto">
                                                        <span class="collapsed-reveal">
                                                            <i class="fal fa-chevron-up fs-xl"></i>
                                                        </span>
                                                        <span class="collapsed-hidden">
                                                            <i class="fal fa-chevron-down fs-xl"></i>
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div id="js_demo_accordion-5c" class="collapse" data-parent="#js_demo_accordion-5">
                                                <div class="card-body">
                                                    <table class="table">
                                                        <tr>
                                                            <td><b>Customer</b></td>
                                                            <td><b>Product</b></td>
                                                            <td><b>Weight</b></td>
                                                            <td><b>Quantity</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td>El mazraa</td>
                                                            <td>Eggs</td>
                                                            <td>200kg</td>
                                                            <td>80</td>
                                                        </tr>
                                                    </table>                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="tab-pane" id="tab-images" role="tabpanel" aria-labelledby="tab-images">
                <div class="py-2">
                    <div class="scrolling-wrapper demo-h-spacing">
        
                    </div>
                </div>
                <div class="row">
                
                </div>
            </div>
        </div>
    </div>
</main>
